*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes dropdown{
    from{height: 0px;padding-top: 0%;padding-bottom: 0%;opacity: 0%;}
    to{height: 30px;}
}

a{
    color: white;
    text-decoration: none;
}

body{
    background-image: linear-gradient(lime,cyan,white);
    height: 100vh;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

.classes{
    background-color: rgb(0, 255, 0);
    display: flex;
    width: 175px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border: 0 0 0 transparent;
    border-radius: 10px;
}

.classBox{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
}

.subjectBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subjects{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    width: 80%;
    height: 40px;
    background-color: rgb(0, 153, 255);
    margin-top: 40px;
    border: 0 0 0 transparent;
    border-radius: 10px;
}

.drop{
    width: 10px;
    height: 10px;
    transition: ease-in-out 0.25s;
    border: 3px solid white;
    margin-left: 97px;
    margin-top: -19px;
    border-top: 0;
    border-left: 0;
    transform: rotate(-45deg);
}

.dropdown:hover .drop{
    transform: rotate(45deg);
}

.dropdown ul li a{
    color: black;
}

.navi{
    background-color: rgb(27, 99, 132);
    margin-top: 3px;
}

.menul{
    display: flex;
    justify-content: center;
}

.menu{
    transition: ease-in-out 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    padding: 1vw;
    font-size: 1.3vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.menu:hover{
    background-color: rgb(44, 187, 44);
}

.submenu{
    position: absolute;
    display: block;
    margin-top: 22px;
    margin-left: 20px;
    /* border: 3px solid black; */
}
.submenu li{
    display: none;
    height: 0px;
    /* border: 3px solid black; */
}

.menu:hover .submenu li{
    display: flex;
    animation-name: dropdown;
    animation-duration: 0.5s;
    padding: 10px 22.5px 10px 27.5px ;
    /* text-align: center; */
    /* align-items: center; */
    justify-content: flex-end;
    width: 120px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin-left: -50px;
}

.menu .submenu li:hover{
    background-color: rgb(254, 214, 255);
}




.subdmenu{
    display: none;
    margin-right: -192px;
}

.dmenu:hover a{
    margin-right: 72px;
}

.dmenu{
    height: 50px;
}

.dmenu:hover .subdmenu{
    display: block;
}